version: "3.9"

services:
  web:
    build: .
    container_name: flask_ecommerce_web
    ports:
      - "5000:80"
    environment:
      - DATABASE_URI=mysql+pymysql://root:password@db/ecommerce_db
      - FLASK_ENV=production
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: mysql:8.0
    container_name: ecommerce_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: ecommerce_db
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  db_data:
