name: Deploy eCommerce on AKS

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Login to ACR
      run: az acr login --name ${{ secrets.ACR_NAME }}

    - name: Build and Push Image
      run: |
        docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/flask-ecommerce:latest .
        docker push ${{ secrets.ACR_LOGIN_SERVER }}/flask-ecommerce:latest

    - name: Set AKS Context
      run: |
        az aks get-credentials \
          --resource-group ${{ secrets.RESOURCE_GROUP }} \
          --name ${{ secrets.AKS_CLUSTER_NAME }} \
          --overwrite-existing

    - name: Deploy to AKS
      run: |
        kubectl apply -f k8s/
